[submodule "lib/closure-library"]
	path = src/lib/closure-library
	url = https://github.com/google/closure-library
[submodule "lib/blockly"]
	path = src/lib/blockly
	url = https://github.com/google/blockly
