[submodule "lib/closure-library"]
	path = src/lib/closure-library
	url = https://github.com/google/closure-library
[submodule "src/lib/xregexp"]
	path = src/lib/xregexp
	url = https://github.com/slevithan/xregexp
