.DS_Store
!.gitkeep
/dist/electron/*
/dist/web/*
/build/*
!build/icons
/bin/helpers/pyc/*
coverage
npm-debug.log
npm-debug.log.*
thumbs.db
/font/**
/node_modules
/sandbox/**
/**/python_workbench
/**/.idea
/**/*.ipynb
/**/*.command
/**/DEBUG.js
/**/__pycache__
/**/UnicodeData.txt
/**/xregexp-all/xregexp-all.js
/src/lib/brython*/**
/src/lib/stacktrace*/**
/src/lib/eyo/debugging.js
/src/lib/eyo/work*in*progress.md
/vue-js-modal/**
!/**/README.md
!/**/Readme.md
/bin/compiler-latest/**
