.DS_Store
!.gitkeep
dist/electron/*
dist/web/*
build/*
!build/icons
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
/fonts/**
/src/fonts/**
/node_modules
/sandbox/**
/src/lib/ezp/scripts/build
/**/.idea
/**/*.command
!/**/README.md
!/**/Readme.md
/**/DEBUG.js
/**/__pycache__